{% extends 'base.html' %}

{% block content %}

<HTML>
<HEAD>

</HEAD>
<BODY>

<h1 align="center"><B>Welcome to the world of Trading</B></h1>
<p align="Center">
Our Website is recommending Arbitrage trading opportunities for NIFTY 50 companies
listed on National Stock Exchange
and Bombay Stock Exchange in India.


</p>

<div style="float:left; width:48%;">
   
    <p style="text-align:left;"> </br> 
<h4><br/><B>Basic Terms Used in Arbitrage:</B><br/></h4>
<B>Arbitrage:</B> Arbitrage occurs when a security is purchased in one market and simultaneously sold in another market, for a higher price. The temporary price difference of the same asset between the two markets lets traders lock in profits.<br/>
<B> NSE:</B> The National Stock Exchange of India Limited (NSE) is India's largest financial market. Incorporated in 1992, the NSE has developed into a sophisticated, electronic market, which ranked fourth in the world by equity trading volume.<br/>
<B> BSE:</B> The Bombay Stock Exchange (BSE) is the first and largest securities market in India and was established in 1875 as the Native Share and Stock Brokers' Association. ... The BSE is Asia's first stock exchange and also includes an equities trading platform for small-and-medium enterprises (SME).<br/>
<B>Nifty 50:</B> Nifty is the abbreviation of National Stock Exchange 50. It consists of the 50 most active and liquid stocks in the Indian markets. <br/>
<B>Ask Price:</B>  It is the price at which sellers are willing to sell their shares at.<br/>
<B>Bid:</B> There are two parts in bid. <br/>
a) <B>Bid Price:</B> It is the price a buyer is willing to pay for security. <br/>
b) <B>Bid Size:</B> It details the amount of shares an investor/trader is willing to purchase at the bid price, <br/>
<B>Bid-Ask Spread:</B> It is essentially the difference between the highest price that a buyer is willing to pay for an asset and the lowest price that a seller is willing to accept to sell it.<br/>
</p>
  
</div>

<div style="float:left; width:50%; margin-left: :30px;">
   
    <p style="text-align:right;" > </br>
    <h4><br/><B>Navigation through our website:</B><br/></h4>
<B>Register: </B>If you are new to our website, you need to register yourself by clicking on Sign up button wherein we require your details like Username, Email and Password to create your new account.<br/>
<B>Login: </B>If you have already registered with us, you just need to log in using your Username and Password and it will redirect you to our home page.<br/>
<B>Home: </B>Home page displays real time arbitrage opportunity for the companies listed in the NIFTY 50.<br/>
<B>Search:</B> Search button helps you search details about a company you are looking for using its ticker symbol. <br/>
<B>My Preferences:</B> It has all your preferences about companies and their arbitrage details saved in our DB so that you can access them anytime.<br/>
<B>Logout:</B> You can simply logout by clicking on the logout button on the top right corner.<br/>
   
    </p>
  </div>

     



</BODY>

</HTML>



{% endblock %}
