{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="0.25">
	<title>arbitrage</title>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name of Stock</th>
				<th scope="col">NSE BID</th>
				<th scope="col">BSE BID</th>
				<th scope="col">NSE ASK</th>
				<th scope="col">BSE ASK</th>
				<th scope="col">Price Difference(Per Stock)</th>
				<th scope="col">Final Profit(Per Stock)</th>
			</tr>
		</thead>
		<tbody>

			{% for key,value in api.items %}
			<tr>
				{% if value.Arbitrage > 0 %}

				{% if value.colors == "nse" %}
				<th scope="row">{{ key }}</th>
				<td>{{ value.Name }}</td>
				<td >{{ value.NSE_BID }}</td>
				<td bgcolor="#F0561C">{{  value.BSE_BID }}</td>
				<td bgcolor="#5BAC4C">{{ value.NSE_ASK }}</td>
				<td>{{ value.BSE_ASK }}</td>
				<td>{{ value.Diff }}</td>
				<td>{{ value.Arbitrage }}</td>
				{% endif %}

				{% if value.colors == "bse" %}
				<th scope="row">{{ key }}</th>
				<td>{{ value.Name }}</td>
				<td td bgcolor="#F0561C">{{ value.NSE_BID }}</td>
				<td >{{ value.NSE_ASK }}</td>
				<td>{{ value.BSE_BID }}</td>
				<td td bgcolor="#5BAC4C">{{ value.BSE_ASK }}</td>
				<td>{{ value.Diff }}</td>
				<td>{{ value.Arbitrage }}</td>
				{% endif %}

				{% endif %}

			</tr>

			{% endfor %}
		</tbody>
	</table>

</body>
</html>



{%  endblock %}
